<%= render partial: "shared/header_default" %>
<div class="mt-10 px-6 py-6">
  <div class="mb-6">
    <h1 class="text-[3.5rem]">Welcome to <i>Rankrec</i>!</h1>
    <p class="text-lg" >Personal album statistics. Easy and reliable.</p>
  </div>

  <ul class="flex flex-col gap-4">
    <li>
      <%= render_navbutton("My Rankings", "/", :get) %>
    </li>
    <li>
      <%= render_navbutton("Albums", "/albums", :get) %>
    </li>
  </ul>
</div>